
.vs/LoginPage/CopilotIndices/0.2.1634.3922/CodeChunks.db
*.db-shm
/.vs
/.vs/LoginPage/FileContentIndex
/.vs/LoginPage
/.vs
.vs/LoginPage/FileContentIndex/de5a21ec-a339-4902-873c-0206e542eadd.vsidx
.vs/LoginPage/v17/.suo
.vs/LoginPage/FileContentIndex/9a76873f-529f-441d-bcbc-adb0235b76b3.vsidx
.vs/LoginPage/DesignTimeBuild/.dtbcache.v2
.vs/LoginPage/FileContentIndex/40799d4d-ac70-4cf1-925e-bc5f0d81d47e.vsidx
/.vs/LoginPage
*.vsidx
/.vs/LoginPage/FileContentIndex
.vs/LoginPage/DesignTimeBuild/.dtbcache.v2
/.vs/LoginPage/FileContentIndex
.vs/LoginPage/FileContentIndex/b09badad-f531-40e2-bb88-22844dbd1d32.vsidx
/.vs/LoginPage/FileContentIndex
/.vs/LoginPage
*.v2
.vs/LoginPage/v17/.suo
.vs/LoginPage/v17/DocumentLayout.backup.json
.vs/LoginPage/v17/DocumentLayout.json
*.json
*.json
*.vsidx
*.v2
*.vsidx
